{
     box-sizing: border-box;
 }
 body{
     margin: 0;
     padding: 0;
 }
 h1{
     text-align: center;
     padding-top: 50px;
     color: orange;
 }
 .calc{
     width: 400px;
     background-color: brown;
     color: yellow;
     margin: auto;
     border: 2px solid rgb(66, 15, 185);

 }
 .screen{
     font-size: 40px;
     font-family:Arial, Helvetica, sans-serif;
     text-align: right;
     padding: 20px 5px;
 }
 .calc-button{
     background-color: orange;
     color: black;
     height: 100px;
     width: 24.5%;
     border: none;
     border-radius: 0;
     font-size: 40px;
     cursor: pointer;
 }
 .calc-button:hover{
     background-color: #9e4141;
 }
 .calc-button:active{
     background-color: #bbbcbe;
 }
 .calc-button:last-child{
     background-color: skyblue;
     color: red;
 }
 .calc-button:last-child:hover{
     background-color: #190f04;
 }
 .calc-button:last-child:active{
     background-color: #d3780f;
 }
 .double{
     width: 49.7%;
 }
 .triple{
     width: 74.8%;
 }
 .calc-row{
     display: flex;
     align-content: stretch;
     justify-content: space-between;
     margin-bottom: .5%;
 }